{% block aside %}

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{email}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      
      
      
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                  <li class="header">IMT/OLPS/TV/SKC/MTV</li>
                  <li class="active treeview">

                    <a>
                      <i class="fa fa-dashboard"></i>
                      <span>Streamers</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Streamer 1</a></li>
                      <li><a href="app/ownPages/pods/pod.html"><i class="fa fa-circle-o"></i> Streamer 2</a></li>
                      <li><a href="index2.html"><i class="fa fa-circle-o"></i> Streamer 3</a></li>
                      <li><a href="index2.html"><i class="fa fa-circle-o"></i> Streamer 4</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a>
                      <i class="fa fa-files-o"></i>
                      <span>Pods</span>
                      <span class="pull-right-container">
                        <span class="label label-primary pull-right">2</span>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Pod a</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Pod b</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Liste Pods</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="pages/widgets.html">
                      <i class="fa fa-laptop"></i> <span>Config VM</span>
                      <span class="pull-right-container">
                        <small class="label pull-right bg-green">New</span></small>
                      </span>
                    </a>
                  </li>
                  <li class="treeview">
                    <a>
                      <i class="fa fa-folder"></i>
                      <span>SMOOTH PROFIL</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Valeurs</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Manifest</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a>
                      <i class="fa fa-folder"></i>
                      <span>DASH PROFIL</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Valeurs</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Manifest</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a>
                      <i class="fa fa-folder"></i>
                      <span>HLS PROFIL</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> Valeurs</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Manifest</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a>
                      <i class="fa fa-th"></i>
                      <span>Players</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> MSS</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> DASH</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> HLS</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a>
                      <i class="fa fa-share"></i> <span>Supervision</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i>Données Manifest</a></li>
                      <li>
                        <a><i class="fa fa-circle-o"></i> Sévérités
                          <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          <li><a href="#"><i class="fa fa-circle-o"></i> Toutes sévérités</a></li>
                          <li>
                            <a><i class="fa fa-circle-o"></i> Types
                              <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                              </span>
                            </a>
                            <ul class="treeview-menu">
                              <li><a href="#"><i class="fa fa-circle-o"></i> SMOOTH</a></li>
                              <li><a href="#"><i class="fa fa-circle-o"></i> DASH</a></li>
                              <li><a href="#"><i class="fa fa-circle-o"></i> HLS</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> Importance</a></li>
                    </ul>
                  </li>
                  <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Mode opératoire</span></a></li>
                  <li class="header">INFOS SÉVÉRITÉS</li>
                  <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>HAUTE</span></a></li>
                  <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>MOYENNE</span></a></li>
                  <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>FAIBLE</span></a></li>
                  <li><a href="#"><i class="fa fa-circle-o text-blue"></i> <span>OPTIONAL</span></a></li>

                </ul>
      
      
      
    </section>
    <!-- /.sidebar -->
{% endblock %}